spring.application.name=harbest
spring.datasource.url=jdbc:postgresql://localhost:5432/habitgarden
spring.datasource.username=harbest_user
spring.datasource.password=harbest
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true